<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filmrental">

    <application
        android:allowBackup="true"
        android:label="Film Rental"
        android:theme="@style/Theme.FilmRental"
        android:supportsRtl="true">

        <activity android:name=".ReturnActivity" android:exported="false" />
        <activity android:name=".RentActivity" android:exported="false" />
        <activity android:name=".ClientEditActivity" android:exported="false" />
        <activity android:name=".ClientsActivity" android:exported="false" />
        <activity android:name=".FilmEditActivity" android:exported="false" />
        <activity android:name=".FilmsActivity" android:exported="false" />
        <activity android:name=".AdminActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- Точка входа: обязательно exported=true -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
